@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}